@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {

  --primary: #2f2f36;
  --secondary: #525b78;
  --bg: #ffffff;
}

* {
  /* color: var(--primary);; */
  margin: 0;
}

body { 
  background-color: var(--bg);
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: #285e4b;
  cursor: pointer;
}
.active {
  color: blueviolet;
}
a.card-nav-link:hover  {
  box-shadow: 6px 11px 5px 0px rgba(0,0,0,0.22);
  -webkit-box-shadow: 6px 11px 5px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: 6px 11px 5px 0px rgba(0,0,0,0.22);

  max-height: 450px;
}
.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
 
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* color: white; */
}

.App-header {
  margin: 20px 20px ;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
  font-family: 'Ultra', serif;
  /* color: #1B4134; */
  color:#285e4b
}
.nav-link {
  margin: 6px 12px;
  padding: 6px;
  text-decoration: none;
  background-color: #284b63;
  color: white;
  border-radius: 6px;
}
.nav-link:hover {

color: rgb(137, 137, 137);

}

main {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 12px;
  

}

.product-card {
  border: .5px solid #ECECEC ;
  border-radius: 6px;
  max-width: 300px;
  
  font-size: small;
 
height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 12px;
}
.product-title {

    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;

}
.product-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.price {
  color: red;
}
.product-img {
  /* max-width: 190px; */
  /* max-height: 40%; */
  width: 100%;
  border-radius: 12px;
  margin: 12px;

}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-ellipsis--2{
  text-overflow:ellipsis;
  overflow:hidden;
  /* // Addition lines for 2 line or multiline ellipsis */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}


footer {

  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  
  
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  
}


footer > a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
footer > ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}
footer > a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

footer > li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

footer > li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

footer > div {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Menlo, monospace;
}