@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body { 
  background-color: #dcdcdc;
}
.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
 
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* color: white; */
}

.App-header {
  margin: 0 20px ;
}

.logo {
  font-family: 'Ultra', serif;
}
main {
  padding: 0 10%;
}

.product-card {
  border:solid #787878 ;
  border-radius: 12px;
  max-width: 500px;
}

.product-img {
  max-width: 480px;
  border-radius: 12px;
  margin: 12px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}